<?xml version="1.0" encoding="utf-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.zz.psmback.dao.ProjectDao">
    <select id="queryUserProject" resultType="com.zz.psmback.common.entity.vo.ProjectDetails">
        select p.project_id, project_name, project_status, description, p.creation_time, deadline, p.creator_id, mark,u.user_name,t.team_id
        FROM team_member as tm
        INNER JOIN team AS t ON tm.team_id = t.team_id
        INNER JOIN project as p
        ON t.project_id = p.project_id
        INNER JOIN user as u
        on p.creator_id = u.user_id
        WHERE member_id=#{userId}
    </select>
    <select id="queryProgress" resultType="java.lang.Double">
        SELECT
            (SUM(CASE WHEN `status` = '已完成' THEN 1 ELSE 0 END) / COUNT(*)) * 100 as percents
        FROM task t INNER JOIN project p ON t.project_id = p.project_id
        WHERE p.project_id = #{projectId}
    </select>
</mapper>
