<?xml version="1.0" encoding="utf-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.zz.psmback.dao.TaskDao">

    <select id="queryTasksByProjectId" resultType="com.zz.psmback.common.entity.vo.TaskView">
        SELECT t.task_id, t.project_id, t.title, t.description, t.creation_time, t.deadline, t.creator_id, t.status, u.user_name, u1.user_name AS assign_name
        FROM task t
                 INNER JOIN user u ON t.creator_id = u.user_id
                 LEFT JOIN task_assign ta ON t.task_id = ta.task_id
                 LEFT JOIN user u1 ON ta.assigner_id = u1.user_id
        WHERE t.project_id = #{projectId}
    </select>
</mapper>
