<?xml version="1.0" encoding="utf-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.zz.psmback.dao.TeamDao">

    <select id="queryByUserId" resultType="com.zz.psmback.common.entity.vo.TeamView">
        select t.team_id, team_name, creator_id, creation_time, project_id, u2.user_name as creator_name
        from user u1 inner join team_member tm on u1.user_id = tm.member_id
        inner join team t on tm.team_id = t.team_id
        inner join user u2 on u2.user_id =t.creator_id
        where u1.user_id=#{userId}
    </select>
    <select id="queryByTeamId" resultType="com.zz.psmback.common.entity.vo.TeamMember">
        select team_id, member_id, r.role_id, role_name,user_name as member_name
        from team_member
        inner join user u on team_member.member_id = u.user_id
        inner join role r on team_member.role_id = r.role_id
        where team_id=#{teamId}
    </select>

</mapper>
